.Container{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container2{
    color: white;
    width: 60vw;
    height: 60vh;
    background-color: rgb(19, 37, 37);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.colorSet{
    font-size: 120px;
    color: orangered;
}